In [71]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [72]:
#make two lists about file locations
study = glob('C:/Users/hewas/Data_Study/*.txt')
test = glob('C:/Users/hewas/Data_Test/*.txt')
print(study)
print(test)

['C:/Users/hewas/Data_Study\\DM01_study.txt', 'C:/Users/hewas/Data_Study\\DM02_study.txt', 'C:/Users/hewas/Data_Study\\DM03_study.txt', 'C:/Users/hewas/Data_Study\\DM04_study.txt', 'C:/Users/hewas/Data_Study\\DM05_study.txt', 'C:/Users/hewas/Data_Study\\DM06_study.txt', 'C:/Users/hewas/Data_Study\\DM07_study.txt', 'C:/Users/hewas/Data_Study\\DM08_study.txt', 'C:/Users/hewas/Data_Study\\DM09_study.txt', 'C:/Users/hewas/Data_Study\\DM10_study.txt', 'C:/Users/hewas/Data_Study\\DM11_study.txt', 'C:/Users/hewas/Data_Study\\DM12_study.txt', 'C:/Users/hewas/Data_Study\\DM13_study.txt', 'C:/Users/hewas/Data_Study\\DM14_study.txt', 'C:/Users/hewas/Data_Study\\DM15_study.txt', 'C:/Users/hewas/Data_Study\\DM16_study.txt', 'C:/Users/hewas/Data_Study\\DM17_study.txt', 'C:/Users/hewas/Data_Study\\DM18_study.txt', 'C:/Users/hewas/Data_Study\\DM19_study.txt', 'C:/Users/hewas/Data_Study\\DM20_study.txt', 'C:/Users/hewas/Data_Study\\DM21_study.txt', 'C:/Users/hewas/Data_Study\\DM22_study.txt', 'C:/Users/hewas/Data_Study\\DM23_study.txt', 'C:/Users/hewas/Data_Study\\DM24_study.txt', 'C:/Users/hewas/Data_Study\\DM25_study.txt', 'C:/Users/hewas/Data_Study\\DM26_study.txt', 'C:/Users/hewas/Data_Study\\DM27_study.txt', 'C:/Users/hewas/Data_Study\\DM28_study.txt', 'C:/Users/hewas/Data_Study\\DM29_study.txt', 'C:/Users/hewas/Data_Study\\DM30_study.txt', 'C:/Users/hewas/Data_Study\\DM31_study.txt']
['C:/Users/hewas/Data_Test\\DM01_test.txt', 'C:/Users/hewas/Data_Test\\DM02_test.txt', 'C:/Users/hewas/Data_Test\\DM03_test.txt', 'C:/Users/hewas/Data_Test\\DM04_test.txt', 'C:/Users/hewas/Data_Test\\DM05_test.txt', 'C:/Users/hewas/Data_Test\\DM06_test.txt', 'C:/Users/hewas/Data_Test\\DM07_test.txt', 'C:/Users/hewas/Data_Test\\DM08_test.txt', 'C:/Users/hewas/Data_Test\\DM09_test.txt', 'C:/Users/hewas/Data_Test\\DM10_test.txt', 'C:/Users/hewas/Data_Test\\DM11_test.txt', 'C:/Users/hewas/Data_Test\\DM12_test.txt', 'C:/Users/hewas/Data_Test\\DM13_test.txt', 'C:/Users/hewas/Data_Test\\DM14_test.txt', 'C:/Users/hewas/Data_Test\\DM15_test.txt', 'C:/Users/hewas/Data_Test\\DM16_test.txt', 'C:/Users/hewas/Data_Test\\DM17_test.txt', 'C:/Users/hewas/Data_Test\\DM18_test.txt', 'C:/Users/hewas/Data_Test\\DM19_test.txt', 'C:/Users/hewas/Data_Test\\DM20_test.txt', 'C:/Users/hewas/Data_Test\\DM21_test.txt', 'C:/Users/hewas/Data_Test\\DM22_test.txt', 'C:/Users/hewas/Data_Test\\DM23_test.txt', 'C:/Users/hewas/Data_Test\\DM24_test.txt', 'C:/Users/hewas/Data_Test\\DM25_test.txt', 'C:/Users/hewas/Data_Test\\DM26_test.txt', 'C:/Users/hewas/Data_Test\\DM27_test.txt', 'C:/Users/hewas/Data_Test\\DM28_test.txt', 'C:/Users/hewas/Data_Test\\DM29_test.txt', 'C:/Users/hewas/Data_Test\\DM30_test.txt', 'C:/Users/hewas/Data_Test\\DM31_test.txt']

In [73]:
#Now the 'k'th subject's data will be pasted on study(or test)_list['k'] 
study_list = [None]
test_list = [None]

for m in range(31):
    study_list.append(pd.read_csv(study[m], sep = "\t", engine='python', encoding = "cp949"))
    
for n in range(31):
    test_list.append(pd.read_csv(test[n], sep = "\t", engine='python', encoding = "cp949"))

#display the 2nd subject's study data
display(study_list[2])

#print the 17th subject's test data
print(test_list[17])

     Trial  ObjID  LocID  FB  Task      RT  Stim
1       44      3      1  -2  1500    4015   NaN
2      126      1      1  -2  1500   10027   NaN
3      185      2      1  -2  1283   16025   NaN
4       86      4      1  -2   632   24023   NaN
5      137      2      1  -2   965   32021   NaN
..     ...    ...    ...  ..   ...     ...   ...
260    199      4      1  -1   616  695931   NaN
261    250      3      1  -1  1015  701930   NaN
262      4      2      1  -1   615  709928   NaN
263    128      4      1  -1   750  715925   NaN
264      6      1      1  -1   715  721924   NaN

[264 rows x 7 columns]

     Trial  Object_ID  Task_Type  Stim_onset1  RT1     Res1  Stim_onset2  RT2  \
1      213          0       1006         2224    1     4966          565    4
2      236          1       6664          761    4        0            0    0
3       35          0      10176          329    1    12240          365    5
4      217          0      13621          828    1    16185         1630    3
5      128          0      18948          795    1    21478          514    2
..     ...        ...        ...          ...  ...      ...          ...  ...
524    146          0    1780321          245    1  1782302          182    1
525    189          1    1783617          395    4        0            0    0
526     10          1    1786763          612    4        0            0    0
527    160          1    1790125          528    4        0            0    0
528    170          1    1793404          312    4        0            0    0

     Res2
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
..    ...
524   NaN
525   NaN
526   NaN
527   NaN
528   NaN

[528 rows x 9 columns]

In [ ]:
#define a function performing the sort with an argument of subject ID
def (id):

In [ ]:
conditions = [None]

values = ['HIT-HC', 'HIT-LC', 'MISS-LC', 'MISS-HC', 'FA-HC', 'FA-LC', 'CR-LC', 'CR-HC']
for h in range(31):
    conditions.append([(test_list[h+1]['Task_Type']==a) & (test_list[h+1]['Res1']==b) for b in range(1,5) for a in range(2)])

    
for i in range(31):
    test_list[i+1]["Res_Type"]= np.select(conditions[i+1], values)

print(conditions[2])
print(np.select(conditions[2], values))

In [ ]:
#### concatenate 31 subject data horizontally to plot the mean and std plot

'''''tmp = [subject_MScore(i)['Memory Scores'] for i in range(1,32)]

entire_data = pd.concat(tmp, axis = 1)
mean_MScores = entire_data.mean(axis = 1)
X = pd.Series(mean_MScores, name="Memory Scores").to_frame()
X['Res Type'] =  values
X = X[['Res Type', 'Memory Scores']]
print(X)


std_MScores = entire_data.std(axis = 1)
Y = pd.Series(mean_MScores, name="Memory Scores").to_frame()
Y['Res Type'] =  values
Y = Y[['Res Type', 'Memory Scores']]
print(Y)'''''

In [ ]:
fig, ax = plt.subplots()
mean_MScores.plot(kind='bar', ax=ax, yerr=std_MScores, capsize = 2)
plt.ylabel('Response rate')

In [ ]:
mean_MScores.plot(kind='bar', yerr=std_MScores, capsize = 2)
plt.ylabel('Response rate')